{% extends "layout.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html>
<head>
	<title>PPT</title>
	<style type="text/css">
		.headbar{
			  
  			background-color:#cbd5db;
		}
	</style>
</head> -->
<!-- <body> -->
	<div class="headbar">
		<h1>Presentation</h1>
	</div>
	<br>
	<br>
	<div>
		<iframe src="https://onedrive.live.com/embed?cid=81BCDB080ECC9212&resid=81BCDB080ECC9212%2122243&authkey=AHQpfYvsRFTuLdI&em=2" width="1000" height="500" frameborder="0" scrolling="no" align="center"></iframe>
	</div>

<!-- </body>
</html> -->
{% endblock content %}